


/*     TOPICS COVERED

    1. list-style-type:upper-alpha;

*/
/* ul{
    list-style-type:upper-alpha;
}
h1{
    position: sticky;
    top:10;
    left: 50;
    background-color: blueviolet;
}
div{
    position:absolute;
}  */
.class{
    background-color: blue;
    width: 7vh;
}