@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 /* :root{ 
    --primary-color: rgb(242, 103, 103);
    --secondary-color: rgb(244, 193, 193);
    --text-color:white;
    --natural-color: black;
}  */
:root{
    --primary-color: rgb(4, 57, 6);
    --secondary-color: rgb(153, 236, 122);
    --text-color:white;
    --natural-color: black;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--secondary-color) ;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: var(--primary-color);
    
    
}

ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 600;
   

}
ul li a:hover{
    background-color: var(--text-color);
    color: black;
}
ul li{
    list-style: none;
    padding: 14px;
    
}

 ul{
    
    display: flex;
    
    
    
    
 }

