/* Here I disscuss about rgb value, #0000 value
like 

color: rgb(0,0,345);
color: #000F;

           "TOPIC COVERED"
    1. Color
    2. Background Color
    3. Opacity

    background-color: rgb(63, 63, 89);
    opacity: 0.5;
      OR 
    background-color: rgba(63, 63, 89,0.5);
    here a mean Opacity


 */
 