


/*             TOPICS COVERED

     1. Max Width and Max Height

     .slider{
    max-width: 800px;
    min-width: 250px;
}
.slider>img{
    width: 100%;
    height: 400px;
}

    2. Overflow 
      
    overflow: scroll;

    3. Border

    4. Padding

    5. Margin

    6. Display

    display: inline-block;

*/


